<div id="<%= dom_id user %>">
  <p>
    <%= link_to(user.username, user) %>
    <% if user.closed? %>
      <span class="badge text-bg-danger">account closed</span>
    <% end %>
  </p>
  <p><%= "#{user.ratings.size}" %> ratings, average rating <%= "#{user.average_rating}" %></p>
</div>
