<p style="color: green"><%= notice %></p>

<h1>Ratings</h1>

<p>Number of ratings: <%= @ratings.count %></p>

<div id="ratings">
  <ul>
    <% @ratings.each do |rating|  %>
      <li> <%= rating %> </li>
    <% end %>
  </ul>
</div>