<%= render @style %>

<ul>
  <% @style.beers.each do |beer| %>
    <li><%= link_to beer.name, beer %></li>
  <% end %>
</ul>

<p>
  <%= edit_and_destroy_buttons(@style) %>
</p>
<div>
  <%= link_to "Back to styles", styles_path %>
</div>
