<p style="color: green"><%= notice %></p>

<h1>Breweries</h1>

<p>Number of breweries: <%= @breweries.count %></p>

<div id="breweries">
  <% @breweries.each do |brewery| %>
    <%= render brewery %>
  <% end %>
</div>

<%= link_to "New brewery", new_brewery_path %>
