<h2>Breweries</h2>

<table id="brewerytable" class="table table-dark table-striped">
  <thead>
  <tr>
    <th><span id="name">Name</span></th>
    <th><span id="founded">Founded</span></th>
    <th><span id="beer_count">Number of beers</span></th>
    <th><span id="active">Active</span></th>
  </tr>
  </thead>
  <tbody id="brewerylist">
  </tbody>
</table>