
<h1>Beers</h1>

<div id="beers">
  <% @beers.each do |beer| %>
    <p>
      <strong>Name:</strong>
      <%= link_to beer.name, beer %>
    </p>

    <p>
      <strong>Style:</strong>
      <%= beer.style.beer_type %>
    </p>

    <p>
      <strong>Brewery:</strong>
      <%= link_to beer.brewery.name, beer.brewery %>
    </p>

  <% end %>
</div>

<%= link_to("New beer", new_beer_path) unless current_user.nil? %>
