<p style="color: green"><%= notice %></p>

<h1>Beers</h1>

<div id="beers">
  <% @beers.each do |beer| %>
    <%= render beer %>
    <p>
      <%= link_to "Show this beer", beer %>
    </p>
  <% end %>
</div>

<%= link_to "New beer", new_beer_path %>
