<h2>Beers</h2>

<table id="beertable" class="table table-dark table-striped">
  <thead>
  <tr>
    <th><span id="name">Name</span></th>
    <th><span id="style">Style</span></th>
    <th><span id="brewery">Brewery</span></th>
  </tr>
  </thead>
  <tbody id="beerlist">
  </tbody>
</table>